extensions:
    middleware: Contributte\Middlewares\DI\MiddlewaresExtension

services:
    psr3logger: Tracy\Bridges\Psr\TracyToPsrLoggerAdapter(@tracy.logger)

middleware:
   middlewares:
        -
            class: Contributte\Middlewares\TryCatchMiddleware
            setup:
                - setCatchExceptions(true) # affect if exceptions are catched in debug mode (they are always catched in production mode)
                - setDebugMode(%debugMode%)
                - setLogger(@Psr\Log\LoggerInterface)
        - Contributte\Middlewares\AutoBasePathMiddleware
        - App\Middleware\ApiKeyAuthenticationMiddleware
        - App\Middleware\AccessControlAllowOriginMiddleware
        - App\Middleware\PaginationParametersMiddleware
        - Apitte\Middlewares\ApiMiddleware

